/* background da página */

    body{
        font-family: Segoe UI,Helvetica Neue,sans-serif;
        background-image: url(../images/overlay.png), url(../images/bg.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center top;
        color: #383838;
        min-width: 320px;
    }

    #page-background{
        transition: all 2s;
    }

    .page-background-is-loading{
        background-color: rgba(0,0,0,1);
    }

    .is-loading{
        transform: translateY(50px);
        opacity: 0;
    }

    .is-loading-links{
        opacity: 0;
    }

/* mobile - máx 480px */

    /* grid */

        #page-container{
            display: grid;
            grid-template-columns: repeat(12, 1fr);
        }

        #header{
            grid-column: 1 / -1;
            grid-row: 1 / 2;
        }

        #menu{
            grid-column: 1 / -1;
            grid-row: 2 / 3;
        }

        #top-post{
            grid-column: 1 / -1;
            grid-row: 3 / 4;
        }

        #posts{
            grid-column: 1 / -1;
            grid-row: 4 / 5;
        }

        #pagination{
            grid-column: 1 / -1;
            grid-row: 5 / 6;
        }

        #forms{
            grid-column: 1 / -1;
            grid-row: 6 / 7;
        }

        #contact{
            grid-column: 1 / -1;
            grid-row: 7 / 8;
        }

        #footer{
            grid-column: 1 / -1;
            grid-row: 8 / 9;
        }

    /* cabeçalho */

        #header{
            margin: 6% 15% 10%;
        }

        #header h1{
            margin-top: 35%;
            font-size: 2.1rem;
            font-weight: bold;
            text-transform: uppercase;
            color: white;
            letter-spacing: 3px;
            line-height: 1.1;
            text-align: center;
            transition: all 2s;
        }

        #header p{
            font-style: italic;
            color: white;
            text-align: center;
            line-height: 2;
            transition: all 2s;
        }

        #header img{
            display: none;
            transition: all 2s;
        }

    /* menu */

        #menu{
            display: none;
        } 

    /* post principal */

        #top-post{
            background-color: white;
            padding: 10% 10%;
            border-bottom: 2px solid #e7e7e7;
        }

        .top-post_date{
            text-align: center;
            font-style: italic;
            display: block;
            overflow: hidden;
            margin-bottom: 10%;
            color: #747474;
        }

        .top-post_date::before{
            content: "";
            display: block;
            border-top: 2px solid #e7e7e7;
            position: relative;
            top: 10px;
            left: 0;
            width: 25%;
        }

        .top-post_date::after{
            content: "";
            display: block;
            border-top: 2px solid #e7e7e7;
            position: relative;
            top: -10px;
            left: 75%;
            width: 25%;
        }

        #top-post h2{
            font-size: 2rem;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 3px;
            text-align: center;
            line-height: 1.2;
            margin-bottom: 5%;
        }

        .top-post_text{
            text-align: center;
            font-size: 1rem;
            font-style: italic;
            line-height: 1.8;
            letter-spacing: 1px;
            margin-bottom: 8%;
        }

        .top-post-image_container{
            margin-bottom: 5%;
        }

        .top-post-image_container > img{
            width: 100%;
        }

        .btn{
            border: 2px solid #383838;
            font-size: .9rem;
            text-decoration: none;
            text-align: center;
            padding: 5%;
            display: block;
            text-transform: uppercase;
            font-weight: bold;
            color: #383838;
        }

        .btn:hover{
            border-color: #573a32;
            color: #573a32;
        }

    /* posts */

        #posts{
            padding: 0 10% 10%;
            border-bottom: 2px solid #e7e7e7;
            background-color: white;
        }

        .post{
            border-bottom: 2px solid #e7e7e7;
            margin-bottom: 15%;
        }

        .post:nth-child(1){
            padding-top: 15%;
        }

        .post:nth-last-child(1){
            border-bottom: none;
            margin-bottom: 8%;
        }

        .post p:nth-child(1){
            text-align: center;
            color: #747474;
            font-style: italic;
        }

        .post h3{
            text-align: center;
            font-size: 1.3rem;
            text-transform: uppercase;
            font-weight: bold;
            padding: 0 5%;
            line-height: 1.2;
            letter-spacing: 2px;
            margin-top: 8%;
            margin-bottom: 8%;
        }

        .post img{
            width: 100%;
        }

        .post-text{
            letter-spacing: 1px;
            margin-top: 8%;
            margin-bottom: 8%;
            line-height: 2;
        }

        .post .btn{
            margin-bottom: 15%;
        }

    /* paginação */

        #pagination{
            background-color: white;
        }

        .pagination-container{
            display: none;
        }

        .pagination-btn{
            width: 20%;
            padding: 3% 5%;
            border-color: #e7e7e7;
            margin: 8% auto;
        }  

    /* formulario */

        #forms{
            background-color: #f7f7f7;
            padding: 8% 10% 10%
        }

        .form-label{
            color:#747474;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 1px;
            font-size: .8rem;
        }

        .form-input{
            background-color: #f7f7f7;
            border: 2px solid #dddddd;
            padding: 3% 5px;
            color: #747474;
        }

        .form-input:focus{
            outline: none;
            color: #747474;
        }

        .form-name input{
            width: 100%;
            margin-top: 5%;
            margin-bottom: 8%;
        }

        .form-email input{
            width: 100%;
            margin-top: 5%;
            margin-bottom: 8%;
        }

        .form-message textarea{
            width: 100%;
            margin-top: 5%;
            margin-bottom: 8%;
            resize: none;
        }

        .form-btn{
            width: 100%;
            border-color: #747474;
            color:#747474;
            background-color: #f7f7f7;
            cursor: pointer;
        }

    /* contato */
    
        .address-container{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            padding: 11%;
            border-bottom: 1px dotted #e4e4e4;
            color: white;
        }

        .address-container p:nth-child(1){
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            font-weight: bold;
            font-size: .8rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-top: 3px;
            margin-right: 12%;
        }

        .address-container p:nth-child(2){
            grid-column: 2 / 5;
            grid-row: 1 / 2;
            margin-left: 8%;
            text-align: left;
        }

        .address-container p:nth-child(3){
            grid-column: 2 / 5;
            grid-row: 2 / 3;
            margin-top: 2%;
            margin-left: 8%;
            text-align: left;
        }

        .address-container:nth-last-child(1){
            border: none;
        }

        .link-list{
            grid-column: 2 / 5;
            grid-row: 1 / 2;
            display: flex;
            text-align: left;
            margin-left: 8%;
        }

        .link-list_ico{
            width: 20px;
            margin: auto;
            margin-right: 20px;
        }
    
    /* rodapé */

        #footer{
            padding: 8%;
            text-align: center;
            border-top: 2px solid #e4e4e4;
            color:#747474;
            background-color: #ffffff;
        }

        #footer > p{
            margin-bottom: 10px;
        }


/* ipad - máx 768px */

        @media screen and (min-width: 480px) {

            #page-container{
                margin-left: 5%;
                margin-right: 5%;
            }
            
            /* header */

                #header{
                    margin: 6% 5% 10%;
                }

                #header h1{
                    font-size: 3.3rem;
                }

                #header p{
                    font-size: 1.1rem;
                }
            
            /* post principal */

                #top-post{
                    display: flex;
                    flex-direction: column;
                    padding-top: 5%;
                    padding-bottom: 8%;
                }

                .top-post_date{
                    margin-bottom: 5%;
                }

                #top-post h2{
                    font-size: 2.5rem;
                    margin-bottom: 4%;
                }

                .top-post_text{
                    margin-bottom: 4%;
                }

                #top-post .btn{
                    display: inline-block;
                    width: fit-content;
                    padding-top: 4%;
                    padding-bottom: 4%;
                    align-self: center;
                }

            /* posts */

                #posts{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    background-color: white;
                    padding: 0;
                    border-bottom: none;
                }

                .post{
                    border-right: 2px solid #e7e7e7;
                    margin-bottom: 0;
                    padding: 10%;
                }

                .post:nth-child(1){
                    padding-top: 10%;
                }

                .post:nth-child(even){
                    border-right: none;
                }

                .post-text{
                    letter-spacing: 0px;
                    line-height: 2;
                }

                .post:nth-last-child(1){
                    border-bottom: 2px solid #e7e7e7;
                    margin-bottom: 0;
                }

                .post .btn{
                    margin-bottom: 0;
                }
            
            /* paginação */

                #pagination{
                    border-top: none;
                }

                .pagination-btn{
                    display: none;
                }

                .pagination-container{
                    display: block;
                    margin-top: 10%;
                    margin-bottom: 10%;
                }

                .pagination-container ul{
                    display: flex;
                    justify-content: center;
                }

                .pagination-list li a{
                    text-decoration: none;
                    display: inline;
                    color: #383838;
                    border: 2px solid #e7e7e7;
                    border-right: none;
                    padding: 10px 16px;
                    width: 15%;
                    font-weight: bold;
                }

                .pagination-list li a:hover{
                    background-color:#e7e7e7;
                }

                .pagination-list li:last-of-type a{
                    border-right: 2px solid #e7e7e7;
                }

                .pagination-list li:nth-child(4) a{
                    color: #e7e7e7;
                    pointer-events: none;
                }
            
            /* formulario */

                .form-btn{
                    width: 30%;
                    padding: 3% 5%;
                }

                .form-name input{
                    margin-top: 2%;
                    margin-bottom: 5%;
                }

                .form-email input{
                    margin-top: 2%;
                    margin-bottom: 5%;
                }

                .form-message textarea{
                    margin-top: 2%;
                    margin-bottom: 5%;
                }

            /* contato */

                .address-container{
                    padding: 8%;
                }

            /* rodapé */

                #footer{
                    background-color: transparent;
                    border: none;
                    color: #ffffff;
                }
        }


/* notebook - máx 1280px */

        @media screen and (min-width: 768px) {
            
            /* cabeçalho */

                #header{
                    margin: 6% 5% 5%;
                }

                #header h1{
                    font-size: 5.5rem;
                    margin-top: 15%;
                }

                #header p{
                    font-size: 1.3rem;
                    padding: 0 30px;
                }

                #header img{
                    display: block;
                    width: 2%;
                    border: 2px solid white;
                    border-radius: 50%;
                    padding: 20px 23px;
                    margin: auto;
                    margin-top: 3%;
                }

      
        
            /* menu */
                
                #menu{
                    display: block;
                    background-color: rgba(0,0,0,.5);
                }

                #menu ul{
                    display: flex;
                }

                #menu ul li{
                    display: flex;
                    align-items: center;
                }

                #menu ul li:hover{
                    background-color: white;
                }

                #menu ul li:hover .menu-link{
                    color: #383838;
                }

                .menu-link{
                    text-decoration: none;
                    color: white;
                    font-weight: bold;
                    text-transform: uppercase;
                    letter-spacing: 4px;
                    font-size: .6rem;
                    padding-left: 30px;
                    padding-right: 30px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                }

                #menu ul li:nth-child(4){
                    margin-left: auto;
                }

                #menu ul li:nth-child(4),
                #menu ul li:nth-child(5),
                #menu ul li:nth-child(6),
                #menu ul li:nth-child(7){
                    background-color: transparent;
                }

                #menu ul li a{
                    transition: opacity 1.5s;
                }

            /* post principal */

                #top-post .btn{
                    padding: 3% 5%;
                }

                .top-post_date::before{
                    width: 35%;
                }
        
                .top-post_date::after{
               
                    left: 65%; 
                    width: 35%;
                }

            /* posts */

                #posts .btn{
                    width: fit-content;
                    margin: auto;
                }

            /* formulario */

                #forms{
                    grid-column: 1 / 7;
                    grid-row: 6 / 7;
                    border-right: 2px solid #dddddd;
                    border-top: 2px solid #dddddd;
                }

                .form-label{
                    font-size: .8rem;
                }

                .form-btn{
                    width: fit-content;
                    font-size: .8rem;
                    letter-spacing: 1px;
                }

            /* contato */

                #contact{
                    grid-column: 7 / -1;
                    grid-row: 6 / 7;
                    background-color: #f7f7f7;
                    border-top: 2px solid #dddddd;
                }

                .address-container{
                    color: #747474;
                    border-bottom: 2px solid #dddddd;
                    padding-top: 10%;
                }

                .address-container:nth-last-child(1){
                    border-top: none;
                }

                #contact p{
                    font-size: .8rem;
                }

                #contact .link-list_ico{
                    filter: invert(45%) sepia(0%) saturate(34%) hue-rotate(66deg) brightness(108%) contrast(73%);
                }

            /* rodapé */

                #footer{
                    grid-column: 1 / -1;
                    grid-row: 7 / 8;
                }
        }


/* desktop */

        @media screen and (min-width: 1024px) {

            #page-container{
                margin-right: 10%;
                margin-left: 10%;
            }

            /* cabeçalho */

                #header{
                    margin: 4% 5% 4%;
                }

                #header h1{
                    font-size: 6.5rem;
                }

                #header p{
                    font-size: 1.7rem;
                    margin-top: 5%;
                }

                
                #header img{
                    width: 3%;
                    padding: 20px 25px;
                }

            /* menu */

                .menu-link{
                    font-size: .8rem;
                    height: 80px;
                }

                #menu .link-list_ico{
                    margin-right: 50px;
                    width: 25px;
                }

            /* post principal */

                .top-post_date{
                    font-size: 1.3rem;
                }

                #top-post h2{
                    font-size: 5rem;
                    margin-top: 5%;
                }

                .top-post_text{
                    font-size: 1.6rem;
                    line-height: 2;
                    margin-bottom: 7%;
                }

                #top-post .btn{
                    padding: 2% 5%;
                    font-size: 1.2rem;
                }

            /* posts */

                .post p:nth-child(1){
                    font-size: 1.2rem;
                }

                .post h3{
                    font-size: 2.5rem;
                }

                .post-text{
                    font-size: 1.5rem;
                }

                .post .btn{
                    padding: 4% 7%;
                    font-size: 1rem;
                }

            /* paginação */

                .pagination-container{
                    margin-top: 7%;
                    margin-bottom: 7%;
                }

                .pagination-list li a{
                    padding: 20px 27px;
                }

            /* formulario */

                .form-label{
                    font-size: 1rem;
                }

            /* contato */
                    
                #contact p{
                    font-size: 1rem;
                }

            /* rodapé */

                #footer p{
                    font-size: 1.2rem;
                }
            
        }


/* desktop - maior que 1600px */

        @media screen and (min-width: 1600px) {

            /* cabeçalho */
            
                #header{
                    padding: 0 5%;
                    margin: 5% 5% 2%;
                }

                #header .link-list_ico{
                    width: 100%;
                }
            
        }
